* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 63.6px;
    background-color: darksalmon;
}

.form-body {
    width: 70%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: azure;
}

#latitude, #longitude {
    display: none;
}